.MODAL_STYLES {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 3rem;
	z-index: 1000;
}
.nav-tabs {
	margin-bottom: 15px;
}
.sign-with {
	margin-top: 25px;
	padding: 20px;
}
div#OR {
	height: 30px;
	width: 30px;
	border: 1px solid #c2c2c2;
	border-radius: 50%;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	float: right;
	position: absolute;
	right: -16px;
	top: 40%;
	z-index: 1;
	background: #dfdfdf;
}
.OVERLAY_STYLES {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 7);
	z-index: 1000;
}
