* {
  box-sizing: border-box;
}

.align-items-center {
  font-family: "Roboto", sans-serif;
}

.mr-3 {
  margin-right: 1rem !important;
  width: 24px;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-bold:hover {
  color: #fdd835;
}

.ml-md-3,
.mx-md-3 {
  margin-left: 1rem !important;
}

.mr-md-3,
.mx-md-3 {
  margin-right: 1rem !important;
}

.mid-header .fas {
  font-size: 24px;
}

.fa,
.fas {
  font-weight: 900;
}

.d-block {
  font-weight: 500;
}
